body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background: url('DanceFloor.jpg');
  background-size: cover;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.addDancerButton, .LineUp {
  padding:5px 2px;
  display: inline-block;
  width: 24%;
  text-align: center;
  border: 2px solid;
  margin: 1px;
}
.topbar{
  height:40px;
  background-color: #555;
  margin: 0px;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.blinkyDancer{
  position:absolute;
  width: 52px;
  height: 50px;
}


.sizyDancer{
  width: 20px;
  height: 30px;
  /*border:10px solid blue;
  border-radius:5px;*/
  position:absolute;
  


}

.spinnyDancer{
  position:absolute;
}

img {

  width: 200px;
  height: 200px;
}

